<section class="section section--features" id="features">
    <div class="section__content section__content--fix-width section__content--padding">
        <h2 class="section__title section__title--centered section__title--features">Secrets management that works the way you work</h2>
        <div class="section__description section__description--centered section__description--features">
        We built a tool that integrates into your development workflow from dev to production without compromising security
        </div>
        <div class="grid grid--3col grid--features">
            <div class="grid__item">
                <div class="grid__icon"><img src="images/icons/icons-64-white/responsive-64.png" alt="" title=""/></div>
                <h3 class="grid__title"><span>Always</span> Secure</h3>
                <p class="grid__text">Secrets are encrypted using auditing algorithms to ensure that your information stays secure.</p>
            </div>
            
            <div class="grid__item">
                <div class="grid__icon"><img src="images/icons/icons-64-white/desktop-chart-64.png" alt="" title=""/></div>
                <h3 class="grid__title">You Control <span>the Keys</span></h3>
                <p class="grid__text">Your secrets are encrypted using keys you control using your cloud provider's key management system.  We can't decrypt anything.</p>
            </div>
            
            <div class="grid__item">
                <div class="grid__icon"><img src="images/icons/icons-64-white/browser-64.png" alt="" title=""/></div>
                <h3 class="grid__title">Integrates <span>with your</span> Workflow</h3>
                <p class="grid__text">Cloud, bare metal, in containers, serverless, or on Kubernetes - it always just works with your development practices from dev to testing to production.</p>
            </div>
        </div>	
        <div class="grid grid--3col grid--features">	
            <div class="grid__item">
                <div class="grid__icon"><img src="images/icons/icons-64-white/desktop-windows-64.png" alt="" title=""/></div>
                <h3 class="grid__title"> <span>Minimal</span> Configuration</h3>
                <p class="grid__text">Take advantage of your cloud provider's key management system to prove authorization for your secrets and they will be seamlessly provisioned with no configuration.</p>
            </div>
            <div class="grid__item">
                <div class="grid__icon"><img src="images/icons/icons-64-white/customizer-64.png" alt="" title=""/></div>
                <h3 class="grid__title"><span>Flexible</span> HTML Sections</h3>
                <p class="grid__text">Simple and Smart HTML code that works reintegrated in any part of the layout. Reuse the elements from one design to another.</p>
            </div>
            <div class="grid__item">
                <div class="grid__icon"><img src="images/icons/icons-64-white/users-64.png" alt="" title=""/></div>
                <h3 class="grid__title">User <span>Friendly</span></h3>
                <p class="grid__text">Easy to navigate. Made with user experience in mind, in order to provide the perfect landing page experience for your client.</p>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <svg class="svg-features-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="#fff" points="0,100 100,0 100,100"/>
    </svg>		
</section>
