<section class="section" id="about">
    <div class="section__content section__content--fix-width section__content--padding">
        <div class="grid grid--5col grid--about">
        
            <div class="grid__item grid__item--x2">
                <h3 class="grid__title">Build your SAAS landing page using the <span>intelligent BEM interface</span></h3>
                <p class="grid__text">Blocks, Elements and Modifiers. A smart HTML/CSS structure that can easely be reused. Layout driven by the purpose of modularity.</p>
                <ul class="grid__list">
                    <li>Simple and Smart HTML code</li> 
                    <li>Works reintegrated in any part of the layout</li> 
                    <li>Reuse the elements from one design to another</li> 
                </ul>
                
            </div>
            <div class="grid__item grid__item--x3">
                <div class="grid__image grid__image--right"><img src="images/desktop-frame-about.gif" alt="" title=""/></div>
            </div>
        </div>
    </div>    
</section>
