
<section class="section" id="pricing">
    <div class="section__content section__content--fix-width section__content--padding">
        <h2 class="section__title section__title--centered">Our Plans</h2>
        <div class="section__description section__description--centered">
        We believe we have created the most efficient SaaS landing page for your users. Landing page with features that will convince you to use it for your SaaS business.
        </div>
        <div class="pricing">
            <div class="pricing__switcher switcher">
                <div class="switcher__buttons">
                    <div class="switcher__button switcher__button--enabled">Monthly</div> 
                    <div class="switcher__button">Yearly</div>
                    <div class="switcher__border"></div>
                </div>    
            </div>
            <div class="pricing__plan">
                <h3 class="pricing__title">FREE</h3>   
                <div class="pricing__values">
                    <div class="pricing__value pricing__value--show"><span>$</span>0 <b>/ month</b></div>
                    <div class="pricing__value pricing__value--hide pricing__value--hidden"><span>$</span>0 <b>/ yearly</b></div>
                </div>	
                <ul class="pricing__list">
                    <li><b>1</b> User Account</li>
                    <li><b>10</b> Team Members</li>
                    <li><b>Unlimited</b> Emails Accounts</li>	
                    <li>Set And Manage Permissions</li>
                    <li class="disabled">API &amp; extension support</li>	
                    <li class="disabled">Developer support</li>
                    <li class="disabled">A / B Testing</li>			
                </ul> 
                <a class="pricing__signup" href="">Sign up</a>
            </div>
            <div class="pricing__plan">
                <h3 class="pricing__title">STARTUP</h3>       
                <div class="pricing__values">
                    <div class="pricing__value pricing__value--show"><span>$</span>29 <b>/ month</b></div>
                    <div class="pricing__value pricing__value--hide pricing__value--hidden"><span>$</span>320 <b>/ yearly</b></div>
                </div>
                <ul class="pricing__list">
                    <li><b>10</b> User Account</li>
                    <li><b>100</b> Team Members</li>
                    <li><b>Unlimited</b> Emails Accounts</li>	
                    <li>Set And Manage Permissions</li>
                    <li>API &amp; extension support</li>	
                    <li class="disabled">Developer support</li>
                    <li class="disabled">A / B Testing</li>			
                </ul> 
                <a class="pricing__signup" href="">Sign up</a> 
            </div>
            <div class="pricing__plan pricing__plan--popular">
                <div class="pricing__badge-bg"></div>
                <div class="pricing__badge-text">POPULAR</div>
                <h3 class="pricing__title">PRO</h3>       
                <div class="pricing__values">
                    <div class="pricing__value pricing__value--show"><span>$</span>49 <b>/ month</b></div>
                    <div class="pricing__value pricing__value--hide pricing__value--hidden"><span>$</span>529 <b>/ yearly</b></div>
                </div>
                <ul class="pricing__list">
                    <li><b>50</b> User Account</li>
                    <li><b>500</b> Team Members</li>
                    <li><b>Unlimited</b> Emails Accounts</li>	
                    <li>Set And Manage Permis sions</li>
                    <li>API &amp; extension support</li>	
                    <li>Developer support</li>
                    <li class="disabled">A / B Testing</li>		
                </ul> 
                <a class="pricing__signup" href="">Sign up</a>
            </div>
            <div class="pricing__plan">
                <h3 class="pricing__title">ULTRA</h3>       
                <div class="pricing__values">
                    <div class="pricing__value pricing__value--show"><span>$</span>99 <b>/ month</b></div>
                    <div class="pricing__value pricing__value--hide pricing__value--hidden"><span>$</span>900 <b>/ yearly</b></div>
                </div>
                <ul class="pricing__list">
                    <li><b>Unlimited</b> User Account</li>
                    <li><b>Unlimited</b> Team Members</li>
                    <li><b>Unlimited</b> Emails Accounts</li>	
                    <li>Set And Manage Permissions</li>
                    <li>API &amp; extension support</li>	
                    <li>Developer support</li>
                    <li>A / B Testing</li>

                </ul> 
                <a class="pricing__signup" href="">Sign up</a>
            </div> 	
        </div>
        <div class="clear"></div>
    </div>
</section>
