<section class="section section--testimonials" id="testimonials">
    <div class="section__content section__content--fix-width section__content--padding">
        <h2 class="section__title section__title--centered">Success stories</h2>
        <div class="testimonials">
            <div class="testimonials__content swiper-wrapper">
                <div class="testimonials__slide swiper-slide">
                <div class="testimonials__thumb" data-swiper-parallax="-50%"><img src="images/avatar-1.jpg" alt="" title=""/></div>
                <div class="testimonials__text" data-swiper-parallax="-100%"><p>"Business is all about the customer: what the customer wants and what they get. Generally, every customer wants a product or service that solves their problem, worth their money, and is delivered with amazing customer service"</p></div>
                <div class="testimonials__source">Lason Duvan <a href="#">New York Business Center</a></div>
                </div>
                <div class="testimonials__slide swiper-slide">
                <div class="testimonials__thumb" data-swiper-parallax="-50%"><img src="images/avatar-2.jpg" alt="" title=""/></div>
                <div class="testimonials__text" data-swiper-parallax="-100%"><p>"No one can make you successful; the will to success comes from within.' I've made this my motto. I've internalized it to the point of understanding that the success of my actions and/or endeavors doesn't depend on anyone else, and that includes a possible failure"</p></div>
                <div class="testimonials__source">Jada Sacks <a href="#">Paris Tehnics</a></div>
                </div>
                <div class="testimonials__slide swiper-slide">
                <div class="testimonials__thumb" data-swiper-parallax="-50%"><img src="images/avatar-3.jpg" alt="" title=""/></div>
                <div class="testimonials__text" data-swiper-parallax="-100%"><p>"The American Dream is that any man or woman, despite of his or her background, can change their circumstances and rise as high as they are willing to work"</p></div>
                <div class="testimonials__source">Lason Duvan <a href="#">Music Software</a></div>
                </div>
                <div class="testimonials__slide swiper-slide">
                <div class="testimonials__thumb" data-swiper-parallax="-50%"><img src="images/avatar-4.jpg" alt="" title=""/></div>
                <div class="testimonials__text" data-swiper-parallax="-100%"><p>"Business is all about the customer: what the customer wants and what they get. Generally, every customer wants a product or service that solves their problem, worth their money, and is delivered with amazing customer service"</p></div>
                <div class="testimonials__source">Duran Jackson <a href="#">New York Business Center</a></div>
                </div>
                <div class="testimonials__slide swiper-slide">
                <div class="testimonials__thumb" data-swiper-parallax="-50%"><img src="images/avatar-5.jpg" alt="" title=""/></div>
                <div class="testimonials__text" data-swiper-parallax="-100%"><p>"No one can make you successful; the will to success comes from within.' I've made this my motto. I've internalized it to the point of understanding that the success of my actions and/or endeavors doesn't depend on anyone else, and that includes a possible failure"</p></div>
                <div class="testimonials__source">Maria Allesi <a href="#">Italy Solutions</a></div>
                </div>
                <div class="testimonials__slide swiper-slide">
                <div class="testimonials__thumb" data-swiper-parallax="-50%"><img src="images/avatar-6.jpg" alt="" title=""/></div>
                <div class="testimonials__text" data-swiper-parallax="-100%"><p>"The American Dream is that any man or woman, despite of his or her background, can change their circumstances and rise as high as they are willing to work"</p></div>
                <div class="testimonials__source">Jenifer Patrison<a href="#">App Dating</a></div>
            </div>  
        </div>
        <div class="testimonials__pagination swiper-pagination"></div>
        </div>
        <div class="clear"></div>
    </div>
</section>	
