
<section class="section section--hiw" id="hiw">
    <div class="section__content section__content--fix-width section__content--padding">
        <h2 class="section__title section__title--centered">How it Works</h2>
        <div class="section__description section__description--centered">
        Guide to setup and configuration. You can present below a guide and a description of how your system configuration works and add some animated screens.
        </div>
        <div class="hiw">
            <div class="hiw-titles">
                <div class="hiw-titles__wrapper swiper-wrapper">
                    <div class="hiw-titles__slide swiper-slide">
                    <img src="images/icons/icons-64/browser-64.png" alt="" title=""/>
                    <span>Initializing</span>
                    </div>
                    <div class="hiw-titles__slide swiper-slide">
                    <img src="images/icons/icons-64/switched-64.png" alt="" title=""/>
                    <span>Configuration</span>
                    </div>
                    <div class="hiw-titles__slide swiper-slide">
                    <img src="images/icons/icons-64/security-64.png" alt="" title=""/>
                    <span>Security Levels</span>
                    </div>
                    <div class="hiw-titles__slide swiper-slide">
                    <img src="images/icons/icons-64/tabs-64.png" alt="" title=""/>
                    <span>Add Instances</span>
                    </div>
                    <div class="hiw-titles__slide swiper-slide">
                    <img src="images/icons/icons-64/desktop-code-64.png" alt="" title=""/>
                    <span>API Settings</span>
                    </div>
                </div>	
            </div>								   
            <div class="hiw-content">
                <div class="hiw-content__wrapper swiper-wrapper">
                    <div class="hiw-content__slide swiper-slide">
                            <img src="images/hiw-slide/slide1.gif" alt="" title=""/>			
                        </div>
                    <div class="hiw-content__slide swiper-slide">
                            <img src="images/hiw-slide/slide2.gif" alt="" title=""/>			
                    </div>				
                    <div class="hiw-content__slide swiper-slide">
                            <img src="images/hiw-slide/slide3.png" alt="" title=""/>			
                        </div>
                    <div class="hiw-content__slide swiper-slide">
                            <img src="images/hiw-slide/slide1.gif" alt="" title=""/>			
                    </div>
                    <div class="hiw-content__slide swiper-slide">
                            <img src="images/hiw-slide/slide3.png" alt="" title=""/>			
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
